<h1>Battleship!</h1>
<br>
<form action="/cells" method="get">
  <button type="submit" name="button">New game</button>
</form>


<!-- <div class="row">
  <div class="col-md-6">
    <iframe src = "/signup" width = "555" height = "555">
      <button type="submit" name="button">New game</button>
       Sorry your browser does not support inline frames.
    </iframe>
  </div>
  <div class="col-md-6">
    <iframe src = "/cells" width = "555" height = "555">
       Sorry your browser does not support inline frames.
    </iframe>
  </div>
</div> -->
