
<div class="container">
  <div class="jumbotron3">
    <h1>Battleship!</h1>
    <br>
      <form action="/cells" method="get">
        <button type="submit" name="button">New game</button>
      </form>
  </div>
</div>
