<h1>Battleship!</h1>
<br>
<% if current_user %>
  <form action="/games/new" method="get">
    <button type="submit" name="button">New game</button>
  </form>
<% else %>
  <p>Please log in or sign up to play battlship, if you dare...</p>
<% end %>
