/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD:app/assets/stylesheets/application.css
 .edit_cell input {
     background: url("https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
     background-position: center;
     display: inline-block;
     cursor:pointer;
     width:50px;
     height:50px;
     border: none;
 }

 .edit_cell:hover {
   -webkit-transform: scale(1.5);
   background-image: ("https://previews.123rf.com/images/ckybe/ckybe1705/ckybe170500125/77834435-sun-rays-or-explosion-boom-for-comic-books-radial-background-vector.jpg");
   border: 9px red;
   background-position: center;
 }

.container battleship {
  background: url("https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.jumbotron1 {
  color: white;
  background-image:linear-gradient(to right, rgba(0,0,0,1) 10%,rgba(0,0,0,1) 15%,rgba(0,0,0,1) 15%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0) 50%), url("https://steamusercontent-a.akamaihd.net/ugc/839206710382807727/A693EF390E7F80D2AD9AD193EF748F0BCB8CD98C/");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size:cover;
  text-shadow: 2px 2px black;

}

.jumbotron2 {
  background: url("https://cdn.pixabay.com/photo/2016/10/14/17/43/sailing-vessel-1740721_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron3 {
  background: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/pirate-sunset-daniel-eskridge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align: center;
  color: white;
  text-shadow: 2px 2px black;

}

.jumbotron3 submit {
  color: red;
}

table, th, td, tr {
  border: 5px solid lightcyan;
  background-color: royalblue;
  text-align: center;
  color: white;
  text-shadow: 1.5px 1.5px black;
}

td {
  border: 5px solid lightcyan;
  background: url("https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
  text-align: center;
}
=======
 @import "bootstrap-sprockets";
 @import "bootstrap";
>>>>>>> sessions:app/assets/stylesheets/application.scss
