/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Pirata One';
  background-color: black;
  font-size: 30px;
 }

 .edit_cell input {
     background: url("https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
     background-position: center;
     display: inline-block;
     cursor:pointer;
     width:40px;
     height:40px;
     border: none;
 }

 .edit_cell:hover {
   -webkit-transform: scale(1.5);
   background-image: ("https://previews.123rf.com/images/ckybe/ckybe1705/ckybe170500125/77834435-sun-rays-or-explosion-boom-for-comic-books-radial-background-vector.jpg");
   border: 9px red;
   background-position: center;
 }

 .bluefishy {
   width: 40px;
   height: 40px;
 }

h4, h1 {
  text-align: center;
}

.container .battleship {
  background: url("https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.container .battleship_placement {
  align-content: center;
}

.jumbotron1 {
  color: white;
  background-image:linear-gradient(to right, rgba(0,0,0,1) 10%,rgba(0,0,0,1) 15%,rgba(0,0,0,1) 15%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0) 50%), url("https://steamusercontent-a.akamaihd.net/ugc/839206710382807727/A693EF390E7F80D2AD9AD193EF748F0BCB8CD98C/");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size:cover;
  text-shadow: 2px 2px black;
  min-height: 200px;
}

.jumbotron2 {
  background-image:linear-gradient(to right, rgba(0,0,0,1) 15%,rgba(0,0,0,1) 20%,rgba(0,0,0,1) 25%,rgba(0,0,0,0.5) 45%,rgba(0,0,0,0) 76%), url("MAINWALLPAPER.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  text-shadow: 2px 2px black;
}

.jumbotron3 {
  background: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/pirate-sunset-daniel-eskridge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align: center;
  color: white;
  text-shadow: 2px 2px black;
  min-height: 200px;
}

.jumbotron3 submit {
  color: red;
}

.jumbotron4 {
  background: url("WINSCREEN.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 70px;
  min-height: 900px;
  min-width: 1200px;
  color: white;
  text-shadow: 6px 6px black;
}

.jumbotron4 h1{
  font-size: 250px;
  align-content: center;
}

.jumbotron4 button {
  border-radius: 12px;
  padding: 15px 30px;
  font-size: 35px;
  background-color: transparent;
  border: 1px solid black;
  color: white;
  text-shadow: 3px 3px black;
  outline: none;
}

.jumbotron4 button {
  background-image: radial-gradient(gold, yellow, transparent)
}

.jumbotron4 button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.jumbotron4 button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.jumbotron5 {
  background: url("GAMEOVER.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 900px;
  min-width: 1200px;
  color: white;
  text-shadow: 2px 2px black;
}


table, th, td, tr {
  border: 2px solid lightcyan;
  background-color: royalblue;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 14px;
  margin: 2px;
  padding: 2px;
  align: center;
  margin-left:auto;
  margin-right:auto;
}

.table-2 {
  width: 400px;
  height: 400px;
}

td {
  background: url("https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
  text-align: center;
}

.custom_pic {
  background: url("https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.bluefishy {
  width: 40px;
  height: 40px;
}

.navbar-class {
  font-weight: bold;
  color: yellow;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.scroll {
  padding-left: 25px;
  width: 300px;
  height: 200px;
  overflow: scroll;
  background-color: black;
  color: white;
  border-color: white;
  border-style: inset;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-2 {
  padding-left: 25px;
  width: 1000px;
  height: 1000px;
  overflow: scroll;
  background-color: black;
  color: white;
  border-color: white;
  border-style: inset;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-3 {
  padding-left: 25px;
  width: 500px;
  height: 500px;
  overflow: scroll;
  background-color: black;
  color: white;
  border-color: white;
  border-style: inset;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.chat {
  background-color: black;
  color: white;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
