/* body {
  margin: 40px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: column;
} */

table, th, td {
  border: 1px solid black;
  text-align: center;
}

table {
  table-layout: fixed;
}

td {
  background-color: lightblue;
  width: 10%;
}

td:hover {
  background-color: red;
}

.row-dark {
  background-color: black;
  color: white;
  border-color: gray;
}

.button {
  background-color: green;
  border: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
