<h1></h1>


<% @cells.each do |cell| %>
<%= form_for [cell] do |t| %>
  <% if cell.hit == true %>
    <% if cell.ship == true %>
      <%= cell.hit %>
    <% else %>
      <%= "MISS" %>
    <% end %>
  <% end %>
  <%= t.submit %>
<% end %>
<% end %>
