<body>
  <i><h4>PLAYER 1 (User Name here)</h4>
  <table class="table">
    <% data_x = 1 %>
    <% data_y = 1 %>
    <thead class="thead-dark">
    <tr><th>X</th><th>A</th><th>B</th><th>C</th></tr>
    </thead>
    <% 3.times do %>
    <tr>
      <th class="row-dark" scope="row"><%= data_y %></th>

      <% 3.times do %>

      <td>(y=<%= data_y %>, x=<%= data_x %>), </td>

        <% data_x += 1 %>
      <%end%>

        <% data_x = 1 %>
        <% data_y += 1 %>
    </tr>
    <%end%>


  </table>
  </i>
  </div>




  <div class="container row">
<div class="col-10">
  <form method="get">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">A</th>
          <th scope="col">B</th>
          <th scope="col">C</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <th class="row-dark" scope="row">1</th>
            <td><div id="1"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
            <td><div id="2"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
            <td><div id="3"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">2</th>
            <td><div id="4"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
            <td><div id="5"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
            <td><div id="6"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">3</th>
            <td><div id="7"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
            <td><div id="8"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
            <td><div id="9"><input type="checkbox" class="form-control" value="1"><span class="checkmark"></span></div></td>
          </tr>
        </tbody>
    </table>
    <input type="submit" class="button" value="Submit">
  </form>
  </div>


</div>
</body>
</html>
